html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.background-wrap {
  width: 100%;
  height: 770px;
  background: url("../images/adult-bag-beauty-model.jpg");
  background-size: cover;
}

.logo {
  float: left;
  background: url("../images/cactus_white_stroke.png");
  background-size: 40px;
  width: 40px;
  height: 45px;
  margin-left: 100px;
  margin-top: 10px;
}

.nav-bar {
  position: absolute;
  width: 100%;
  height: 70px;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.255); 
}

.nav-bar ul {
  display: flex;
  float: right;
  padding-right: 30px;
}

.nav-bar ul li {
  padding: 30px 15px;
  margin: auto;
  font-size: 15px;
  letter-spacing: 2px;
}

.nav-bar ul li a {
  color: white;
}


.nav-bar ul li:hover {
  background: rgba(255, 255, 255, 0.372)
}

.active {
  background: rgba(255, 255, 255, 0.372);
}