html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.background-wrap {
  width: 100%;
  height: 770px;
  background: url("../images/IMG_7026.jpg");
  background-size: cover;
}

.logo {
  float: left;
  background: url("../images/cactus_white_stroke.png");
  background-size: 40px;
  width: 40px;
  height: 45px;
  margin-left: 100px;
  margin-top: 10px;
}

.nav-bar {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
}

.nav-bar ul {
  display: flex;
  float: right;
  padding-right: 30px;
}

.nav-bar ul li {
  padding: 20px 30px;
  margin: auto;
  font-size: 15px;
  letter-spacing: 2px;
}

.nav-bar ul li a {
  color: rgb(0, 0, 0);
}


.nav-bar ul li:hover {
  background: rgba(198, 198, 198, 0.372);
}

.active {
  background: rgba(198, 198, 198, 0.372);
}

.fa-shopping-cart {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.fa-key {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.fa-shopping-bag {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.shop-box {
  position: absolute;
  width: 300px;
  height: auto;
  top: 55px;
  left: 890px;
  background: rgba(198, 198, 198, 0.372);
  text-align: center;
  display: none;
}

.shop-box ul li a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
}

.fa-angle-double-down {
  position: absolute;
  top: 980px;
  left: 50%;
  color: rgb(12, 12, 12);
  font-size: 30px;
}

.sign-in-form {
  position: absolute;
  top: 55px;
  left: 1015px;
  width: 350px;
  height: auto;
  background: rgba(198, 198, 198, 0.372);
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 2px;
  display: none;
}

.sign-in-form h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sign-in-form h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sign-in-form h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sign-in-form h3 a {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.e-mail {
  width: 250px;
  height: 30px;
  margin: auto;
  margin-left: 45px;
  margin-bottom: 20px;
}

.password {
  width: 250px;
  height: 30px;
  margin-left: 45px;
}

.sign-in {
  border: none;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 30px;
  font-family: 'Lekton', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 47px;
  padding-top: 5px;
}

.cart-container {
  position: absolute;
  top: 55px;
  right: 0;
  width: auto;
  height: auto;
  background: rgba(198, 198, 198, 0.372);
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 20px;
  display: none;
}

.about-us-section {
  width: 700px;
  height: auto;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us-section h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 150px;
}

.about-us-section p {
  text-align: justify;
  width: 600px;
  margin: auto;
  line-height: 30px;
}

.about-us-paragraph {
  display: none;
}

.social-media-logos {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  margin: auto;
}

.fa-facebook-square {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.fa-instagram {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* products index*/

.shop-container {
  width: 100%;
  height: 400px;
  background: url("../images/pink-girl.jpg");
  background-size: cover;
  background-position: bottom;
}

.products {
  width: 100%;
  height: auto;
}

.first-line-product {
  display: flex;
  width: 100%;
  height: auto;
}

.product-one {
  width: 50%;
  height: 600px;
  background: rgb(255, 255, 255);
}

.sub-product-one {
  width: 500px;
  height: 400px;
  background: url("../images/white-shirt.jpg");
  background-size: 500px;
  background-position: top;
  margin: auto;
  margin-top: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-two {
  width: 50%;
  height: 600px;
  background: rgb(228, 228, 228);
}

.sub-product-two {
  width: 500px;
  height: 400px;
  background: url("../images/black-shirt.jpg");
  background-size: 500px;
  background-position: top;
  margin: auto;
  margin-top: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.arrow-button-1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  left: -350px;
}

.arrow-button-2 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  left: 370px;
}

.product-info {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  padding-top: 70px;
  font-size: 17px;
  line-height: 25px;
}

.price-one {
  margin: auto;
  text-align: center;
  display: none;
}

.price-one a {
  color: black
}

.price-two {
  margin: auto;
  text-align: center;
  display: none;
}

.price-two a {
  color: black
}

.second-line-product {
  display: flex;
  width: 100%;
  height: auto;
}

.product-three {
  width: 50%;
  height: 600px;
  background: rgb(228, 228, 228);
}

.sub-product-three {
  width: 500px;
  height: 400px;
  background: url("../images/red-shirt.jpg");
  background-size: 500px;
  background-position: top;
  margin: auto;
  margin-top: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-four {
  width: 50%;
  height: 600px;
  background: rgb(255, 255, 255);
}

.sub-product-four {
  width: 500px;
  height: 400px;
  background: url("../images/purple-shirt.jpg");
  background-size: 500px;
  background-position: top;
  margin: auto;
  margin-top: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.arrow-button-3 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 750px;
  left: -350px;
}

.arrow-button-4 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 750px;
  left: 370px;
}

.product-info-2 {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  padding-top: 90px;
  font-size: 17px;
  line-height: 25px;
}

.price-three {
  margin: auto;
  text-align: center;
  display: none;
}

.price-three a {
  color: black
}

.price-four {
  margin: auto;
  text-align: center;
  display: none;
}

.price-four a {
  color: black
}